.root {
  --color-letter: rgba(68, 66, 60, 255);
}

html {
  height: 100%;
}

body {
  background-color: rgba(40, 52, 36, 255);
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.cont-all {
  background: rgba(231, 228, 222, 255);
  width: 70%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hr {
  display: flex;
  width: 70%;
  height: 90%;
  justify-content: space-evenly;
  z-index: 0;
  position: absolute;
}

hr {
  position: relative;
  height: 100%;
  width: 1px;
  background: rgba(211, 208, 197, 255);
  border: transparent;
  margin: 0;
}

.cont-nav {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cont-name {
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.p-name {
  font-family: "Philosopher", sans-serif;
  font-size: 18px;
  color: var(--color-letter);
  font-weight: 300;
}

.cont-list {
  width: 75%;
  height: 100%;
  z-index: 1;
  background: rgba(221, 219, 206, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  list-style-type: none;
  text-align: left;
  height: 100%;
  width: 95%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
}

li {
  text-align: left;
  display: inline;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: var(--color-letter);
  padding: 15px;
  font-size: 11px;
  font-family: "Philosopher", sans-serif;
  opacity: 0.7;
}

i {
  font-size: 15px;
  margin-right: 3%;
}

.cont-center {
  width: 100%;
  height: 50%;
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
}

.cont-media {
  width: 10%;
  height: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ul-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  margin: 0;
  padding: 0;
}

.ul-media i {
  font-size: 11px;
}

.cont-text {
  width: 52%;
  height: 95;
  margin-left: 3%;
}

.p-blog {
  font-size: 10px;
  font-family: "Philosopher", sans-serif;
  margin-bottom: -3%;
  color: var(--color-letter);
}

img {
  width: 31%;
  height: 100%;
}

h2 {
  font-size: 50px;
  color: rgba(44, 40, 35, 255);
  font-family: "Playfair Display", serif;
  font-weight: 500;
  line-height: 40px;
}

.cont-final {
  width: 100%;
  height: 33%;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.cont-final img {
  width: 32%;
  height: 100%;
}

.cont-final p {
  font-size: 10px;
  width: 14%;
  height: 60%;
  align-self: flex-start;
  position: relative;
  margin-top: -4%;
  margin-left: -3%;
  color: var(--color-letter);
  font-family: "Philosopher", sans-serif;
  opacity: 0.7;
  line-height: 15px;
}

.cont-next {
  width: 25%;
  height: 40%;
  background: rgba(221, 219, 206, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
}

.cont-next a {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.cont-next p {
  width: 70%;
  height: 20%;
  text-align: center;
  margin-left: 7%;
  align-self: center;
  margin: 0;
  opacity: 1;
  font-size: 10px;
  font-weight: bolder;
}

.hr-horizontal {
  width: 43%;
  height: 86%;
  position: absolute;
  align-self: flex-end;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.hr-horizontal hr {
  width: 13%;
  height: 1px;
  background: black;
  z-index: 2;
}

.hr-horizontal hr:first-of-type {
  background: rgba(211, 208, 197, 255);
  border: transparent;
  width: 35%;
}

.hr-horizontal hr:nth-of-type(2) {
  position: relative;
  margin-left: -77%;
}

.hr-horizontal hr:last-of-type {
  margin-right: 20%;
  width: 8%;
  z-index: 4;
}

.circle-text {
  position: absolute;
  opacity: 0.8;
  left: 59%;
  top: 12%;
  z-index: 2;
}

#circle span {
  font-size: 7px;
  font-family: "Philosopher", sans-serif;
  color: var(--color-letter);
  width: 10px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: bottom center;
  -webkit-transform-origin: bottom center;
  text-transform: uppercase;
}

@media screen and (max-width: 1350px) {
  .cont-all {
    width: 80%;
  }

  .hr {
    width: 80%;
  }

  .hr-horizontal {
    width: 49%;
  }
}

@media screen and (max-width: 1250px) {
  .cont-all {
    width: 90%;
  }

  .hr {
    width: 90%;
  }

  .hr-horizontal {
    width: 55%;
  }
}

@media screen and (max-width: 1150px) {
  .cont-all {
    width: 100%;
    height: 100%;
  }

  .hr {
    width: 100%;
    height: 100%;
  }

  .hr-horizontal {
    width: 61%;
    height: 95%;
  }

  .circle-text {
    top: 8%;
  }
}

@media screen and (max-width: 1050px) {
  .cont-text {
    width: 48%;
  }

  img {
    width: 35%;
  }
}

@media screen and (max-width: 950px) {
  .cont-text {
    width: 45%;
  }

  img {
    width: 40%;
  }

  .cont-final p {
    margin-top: 5%;
    margin-left: 0;
  }

  .cont-final img {
    width: 35%;
  }
}

@media screen and (max-width: 850px) {
  .cont-text {
    width: 40%;
  }

  img {
    width: 45%;
  }

  .cont-final img {
    width: 40%;
  }
}

@media screen and (max-width: 750px) {
  .cont-text {
    width: 35%;
  }

  h2 {
    font-size: 40px;
    line-height: 35px;
  }

  img {
    width: 50%;
  }
  .cont-final img {
    width: 45%;
  }
}

@media screen and (max-width: 650px) {
  .cont-text {
    width: 30%;
  }

  h2 {
    font-size: 30px;
    line-height: 25px;
  }

  img {
    width: 55%;
  }

  .cont-final img {
    height: 90%;
  }

  .hr-horizontal hr:last-of-type{
    width: 11%;
  }
}

@media screen and (max-width: 550px) {
  .cont-text {
    width: 25%;
  }

  h2 {
    font-size: 20px;
    line-height: 20px;
  }

  img {
    width: 60%;
  }

  .cont-final img {
    width: 50%;
  }

  .hidden{
    display: none;
  }


}

@media screen and (max-width: 450px) {
  .p-name {
    font-size: 13px;
  }

  a {
    font-size: 9px;
  }

  .cont-text{
    margin-top: -45%;
    margin-left: -15%;
    width: 15%;
  }

  .cont-media{
    margin-top: 30%;
  }

  img{
    width: 75%;
  }

  h2{
    font-size: 13px;
    line-height: 13px;
  }

  .circle-text {
    top: 10%;
    left: 30%;
  }

  .cont-final img{
    width: 55%;
  }

}


@media screen and (max-width: 350px) {

  .cont-text{
    margin-top: -55%;
    margin-left: -15%;
    width: 10%;
  }

  img{
    height: 80%;
  }

  h2{
    font-size: 10px;
    line-height: 10px;
  }

  .cont-final img{
    width: 70%;
  }

  .cont-next{
    height: 30%;
  }

  .hr-horizontal{
    height: 97%;
  }
}